section.products-introduction {
  background: url("../img/bg-produtos.png") no-repeat center;
  background-size: cover;
}

section.product {
  padding-top: 60px;
}

section.product h2 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  color: #FFFFFF;

  position: relative;
  top: -180px;
  text-align: center;

  margin-bottom: -80px;
}
section.product h2::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #FFFFFF;
  margin: 0px auto 25px;
}

section.product h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #FFFFFF;
  margin: 25px auto 0px;
}

div.icon {
  background-color: #000000;
  padding: 70px 0px;
}

div.icon img {
  margin: auto;
}

div.info {
  background-color: #000000;
  padding: 10px;
}

div.info p {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
  height: 131px;
  margin: 20px;
}

div.info ul li {
  background-color: #FEC63E;
  border: 2px solid #000000;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  float: left;
  width: 220px;
  text-align: center;
}

.budget {
  margin-top: 60px;
  padding: 30px 0px;
  background-color: #000000;
  color: #FFFFFF;
}

.budget h2 {
  color: #FEC63E;
}

.budget .subtitle::after {
  background-color: #FEC63E;
}

.form {
  padding-right: 60px;
}

.form label {
  display: block;
  margin: 15px 0px 5px;
  font-family: "Amaranth", "Times New Roman", serif;
  font-size: 18px;
  line-height: 25px;
}

.form input, textarea {
  display: block;
  width: 100%;
  background-color: #000000;
  border: 4px solid #FEC63E;
  color: #FFFFFF;
  font-family: "Amaranth", "Times New Roman", serif;
}

.form input {
  height: 40px;
}

.form button {
  width: 140px;
  height: 40px;
  margin-top: 20px;
  background-color: #000000;
  border: 4px solid #FEC63E;
  color: #FEC63E;
}

.form button:hover {
  cursor: pointer;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.datas h3 {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FEC63E;
  font-weight: bold;
}

.datas span {
  display: block;
  font-size: 18px;
  font-family: "Amaranth", "Times New Roman", serif;
  line-height: 30px;
}

div.datas span#last {
  margin-bottom: 40px;
}

div.datas ul {
  padding-right: 60px;
}

div.datas ul li {
  font-size: 18px;
  font-family: "Amaranth", "Times New Roman", serif;
  background-color: #1d1d1d;
  padding: 20px 10px;
  margin-bottom: 4px;
}

div.datas p {
  font-size: 18px;
  margin: 20px 0px 10px;
}