/* general styles */
body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
}

p, li.paragraph {
  font-family: "Amaranth", "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
}

a.btn {
  border: 3px solid #FEC63E;
  padding: 10px 32px;
  color: #FEC63E;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}

a.btn:hover {
  border-color: #FFFFFF;
  color: #FFFFFF;
}

a.black-btn:hover {
  border-color: #000000;
  color: #000000;
}

.subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: .1em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #000000;
  margin: 25px auto 10px;
}

.internal-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: .1em;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.internal-subtitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #000000;
  margin: 25px 0px 10px;
}


/* header */
header.header {
  position: fixed;
  top: 0;
  z-index: 1;

  width: 100%;
  padding: 10px 0px;

  background-color: #FEC63E;
}

nav.header-menu {
  text-align: right;
  margin-top: 20px;
}

nav.header-menu ul li {
  display: inline-block;
  margin-left: 20px;
}

nav.header-menu ul li a {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 5px;
}
nav.header-menu ul li a.is-active {
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #000000;
}

nav.header-menu ul li a:hover {
  color: #FFFFFF; 
  text-shadow: 1px 1px 1px #000000;
}

/* introduction */
section.introduction {
  width: 100%;
  height: 380px;

  background: url("../img/bg-intro.png") no-repeat center;
  background-size: cover;

  margin-top: 82px;

  text-align: center;
}

section.introduction h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 80px;
  color: #FFFFFF;
}

blockquote.external-quote {
  max-width: 320px;
  margin: auto;
  margin-bottom: 40px;
  color: #FFFFFF;
}

blockquote.external-quote p {
  font-style: italic;
}

blockquote.external-quote p::before, blockquote.external-quote p::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #FFFFFF;
  margin: 25px auto 10px;
}

blockquote.external-quote cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
}

/* internal introduction */
.internal-introduction {
  width: 100%;
  height: 160px;
  margin-top: 82px;
  text-align: center;
  color: #FFFFFF;
}

section.internal-introduction h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

section.internal-introduction h1::after {
  content: "";
  background-color: #FFFFFF;
  display: block;
  width: 60px;
  height: 3px;
  margin: 25px auto 10px;
}

section.internal-introduction p {
  font-weight: bold;
}

/* products */
.products {
  text-align: center;
  margin: 80px auto 60px;
}

.list-products li {
  background-color: #FEC63E;
  box-shadow: 0px 3px 4px #575757;
}

.list-products li > div {
  background-color: #000000;
  padding: 20px;
}

.list-products li > h3, .list-quality li > h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.list-products li > p, .list-quality li > p {
  padding: 10px 20px 20px;
}

.list-products li > h3::after, .list-quality li > h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #000000;
  margin: 25px auto 10px;
}

.call-to-action {
  clear: both;
  padding-top: 40px;
  text-align: center;
}

.call-to-action p {
  margin-bottom: 20px;
}

/* portfolio */
.portfolio {
  width: 100%;
  background-color: #000000;
  padding: 40px 0px;
}

.portfolio .subtitle {
  color: #FEC63E;
}

.portfolio .subtitle::after {
  background-color: #FEC63E;
}

.portfolio > div > ul li:last-child {
  margin-top: 20px;
}

.portfolio .call-to-action p {
  color: #FFFFFF;
}

/* quality */
.quality {
  margin: 60px auto;
}

.quality::after {
  content: "";
  width: 100%;
  height: 83px;
  display: block;
  background: url("../img/linhas.svg") no-repeat center;
  position: absolute;
  top: 143px;
  z-index: -1;
}

.quality img {
  margin: 0px auto;
}

.list-quality li {
  text-align: center;
  padding: 0px 30px;
}

.list-quality li > h3 {
  margin-top: 35px;
}

/* breaking */
.breaking {
  clear: both;
  padding-top: 40px;
  height: 220px;
  background: url("../img/bg-footer.png") no-repeat center;
  background-size: cover;
  text-align: center;
}

.breaking .external-quote {
  max-width: 400px;
}

/* footer */
footer {
  background-color: #FEC63E;
}

footer .footer {
  background-color: #000000;
  color: #FFFFFF;
  padding: 20px;
}

footer .footer div > h3 {
  font-size: 18px;
  line-height: 25px;
  color: #FEC63E;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}

footer .footer div > h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #FEC63E;
  margin: 25px 0px 10px;
}

div#history {
  padding-right: 40px;
}

div#social-networks ul li {
  display: inline-block;
  border: 3px solid #FEC63E;
  margin-right: 5px;
  transition: border-color 1s;
}

div#social-networks ul li:hover {
  border-color: #FFFFFF;
}

div#social-networks ul li a {
  display: block;
  padding: 10px;
}

div#copy {
  padding: 20px 0px;
}

div#copy p {
  font-weight: bold;
}